{% extends "base.html" %}
{% block content %}
    <div class="free-bitcoin-form fix">
    <div class="banner top_banner3">
                    <center>{{ get_banner(2)|safe }}</center>
                </div>
        <iframe frameBorder="0"
                src="https://www.bigterminal.com/embed/chart-widget/?&color=0cd1aa&series=averageBTCUSD&sub_id=pyIarTV"
                width="620" height="310"></iframe>
        <br>
        <br>
        <br>
        <iframe src="http://realtimebitcoin.info?theme=chaplin&currency=eur" width="620" height="120"
                frameborder="none"></iframe>
        <br>
<div class="banner top_banner3">
                    <center>{{ get_banner(3)|safe }}</center>
                </div>
<div class="banner top_banner3">
                    <center>{{ get_banner(12)|safe }}</center>
                </div>
    </div>

{% endblock %}